/* Fonte geral da página */
body {
    font-family: "Comic Sans MS", "Trebuchet MS", sans-serif;
    background-color: #fcfcfc;
}

/* Títulos */
h1,
h2,
h3 {
    color: #0d47f5;
    /* azul escuro */
    font-family: "Trebuchet MS", sans-serif;
}

/* Texto normal */
p {
    color: #0553fb;
    /* azul claro */
    font-size: 16px;
}